

# Difference

| Feature      | Validation                          | Verification                        |
| ------------ | ----------------------------------- | ----------------------------------- |
| Key Question | Are we building the RIGHT product ? | Are we building the product RIGHT ? |
| Target       | Stakeholder needs                   | Specification                       |
| Methods      | Prototyping / Reviews               | Testing / Checking Code             |














