@use "./base.scss";

// put your custom CSS here!
a {
  color: #d79921;
}

a:hover {
  color: #fabd2f;
}

.page-title {
  color: #ebdbb2;
}

h1,
h2,
h3 {
  color: #fabd2f;
}

code {
  color: #b8bb26;
}

blockquote {
  border-left-color: #d65d0e;
}